{% extends "base.html" %}

{% block title %}{% block page_title %}{% endblock %} - ShowNotes{% endblock %}

{% block head %}

  <script src="{{ url_for('static', filename='search.js') }}" defer></script>
  {# Only include admin_settings.js if needed (e.g., on admin pages) #}
  {% block extra_js %}{% endblock %}
{% endblock %}

{% block content %}
<main class="p-4 sm:p-6 bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-100 min-h-[calc(100vh-128px)]">
    <div class="container mx-auto">
        {# Flashed messages are now handled in base.html #}
        {% block page_content %}{% endblock %}
    </div>
</main>
{% endblock %}
